.navbar {
    display: flex;
    justify-content: center;
    align-items: center;   

    .navbar__title {
        font-weight: bold;
    }
}

.main-section {
    margin-top: 15px;
}

.search-bar {
    .input-control {
        flex: 1;
    }
}

.card-container {
    max-height: 100vh;
    overflow-y: auto;
    margin-top: 10px;
}

.small-card {
    display: flex;
    padding: 15px;
    border: 1px solid #cecece;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 1px 1px 6px #cecece;
}

.pagination {
    .button {
        flex: 1;
        &:nth-child(1) {
            margin-right: 5px;
        }
        &:nth-child(2) {
            margin-left: 5px;
        }
    }
}